// ------------------
// Variables
// -----------------

$bgColor:rgba($color: #000000, $alpha: .8);
$borderRa:4px;

// ------------------
// reset HTML
// ------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;

}

// ------------------
// slider
// ------------------
.slider {
    * {
        text-transform: capitalize;
    }

    &_container {
        position: relative;
        margin: 10px auto;
        width: fit-content;
    }

    &_items {
        position: relative;
        height: 350px;
        width: 700px;
        margin: 10px auto;


        img {
            position: absolute;
            opacity: 0;
            transition: opacity 1s;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &.active {
                opacity: 1;
            }
        }
    }

    &_number {
        position: relative;
        width: fit-content;
        background-color: rgba($color: #000000, $alpha: .8);
        color: #fff;
        padding: 5px 10px;
        z-index: 2;
        border-radius: $borderRa;
    }

    &_controls {
        display: flex;
        justify-content: space-between;
        align-items: center;



        .prev,
        .next {
            background-color: rgba($color: #000000, $alpha: .8);
            color: #fff;
            padding: 5px 10px;
            border-radius: $borderRa;
            cursor: pointer;

            &.disable {
                background-color: rgba($color: #000000, $alpha: .4);
                cursor: not-allowed;
            }
        }

        .indicators {
            li {
                display: inline-block;
                color: #000;
                background-color: #eeeeee;
                padding: 5px 10px;
                border-radius: $borderRa;
                cursor: pointer;
                margin-right: 5px;
                font-weight: bold;

                &.active {
                    background-color: #cecece;
                }
            }
        }

    }

}